$dark-background: #252525;
$primary-color: #51acfb;
$secondary-color: rgba(0, 82, 153, 1);
$accent-color: #dd1515;
$dark-text: #272727;
$color-white: rgb(255,255,255);
$color-whitesmoke: whitesmoke;
$footer-dark: rgb(0,30,56);
