//MaterialWeb Card Custom Styles
.benefit-card__media-1 {
    background-image: url("../images/inner_01.jpg")
}

.benefit-card__media-2 {
    background-image: url("../images/inner_02.jpg")
}

.benefit-card__media-3 {
    background-image: url("../images/inner_03.jpg")
}

.mdc-card__text-area {
    padding: 10px 16px;
}

.mdc-card-container {
    font-family: Monserrat-Regular, sans-serif;
    position: relative;

    .mdc-card {
        @include mdc-card-fill-color($primary-color);
        @include mdc-card-shape-radius(0px, false);

        .mdc-button {
            @include mdc-button-ink-color(whitesmoke);
            font-family: Monserrat-Regular, sans-serif;
        }

    }

    .mdc-card:nth-of-type(odd) {
        @include mdc-card-fill-color($secondary-color);
    }

    .mdc-card:nth-of-type(even) {
        .mdc-button {
            @include mdc-states-base-color($secondary-color);
        }
        p {
            color: $secondary-color;
        }
    }

    h4 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: normal;
    }

    p {
        color: $primary-color;
        margin-top: 1.1em;
        line-height: 1.75em;
        font-size: 1.1em;
        font-weight: 600;
    }
}



//MaterialWeb Button Custom Styles
.mdc-button {
    @include mdc-button-horizontal-padding(10px);
    font-family: 'Montserrat-Regular', sans-serif;
}

.mdc-button--topsection {
    @include mdc-button-container-fill-color(rgb(221, 21, 21));
    @include mdc-button-ink-color(whitesmoke);
    height: 56px;
}

.mdc-button--header {
    margin-left: 20px;
    height: 40px;
}
