//MaterialWeb Card Custom Styles
.benefit-card__media-1 {
    background-image: url("../images/inner_01.jpg")
}

.benefit-card__media-2 {
    background-image: url("../images/inner_02.jpg")
}

.benefit-card__media-3 {
    background-image: url("../images/inner_03.jpg")
}

.mdc-card__text-area {
    padding: 10px 16px;
}

.mdc-card-container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: -8em;

    .mdc-card {
        @include mdc-card-fill-color($primary-color);
        @include mdc-card-shape-radius(0px, false);

        .mdc-button {
            @include mdc-button-ink-color(whitesmoke);
            @include mdc-button-ink-color($secondary-color);
        }

        .mdc-card__actions {
            padding: 15px;
        }

    }

    .mdc-card:nth-of-type(odd) {
        @include mdc-card-fill-color($secondary-color);

        .mdc-button {
            @include mdc-button-ink-color($primary-color);
        }
        
    }

    .mdc-card:nth-of-type(even) {
        .mdc-button {
            @include mdc-states-base-color($secondary-color);
            @include mdc-button-outline-color($secondary-color);
        }

        p {
            color: $secondary-color;
        }
    }

    h4 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: normal;
    }

    p {
        color: $primary-color;
        margin-top: 1.1em;
        line-height: 1.75em;
        font-size: 1.1em;
        font-weight: 500;
    }
}



//MaterialWeb Button Custom Styles
.mdc-button {
    @include mdc-button-horizontal-padding(10px);
    height: 40px;
}

.mdc-button--orange {
    @include mdc-button-horizontal-padding(40px);
    @include mdc-button-container-fill-color(rgb(221, 21, 21));
    @include mdc-button-ink-color(whitesmoke);
    height: 80px;
}

.mdc-button__header--ml {
    margin-left: 20px;
    height: 40px;
}

.mdc-button__icon--color-primary {
    @include mdc-button-ink-color($primary-color);
}

.mdc-button__label--color-white {
    @include mdc-button-ink-color(whitesmoke);

}

.mdc-button--hover:hover {
    .mdc-button__label--color-white {
        transition: width 300ms ease;
        @include mdc-button-ink-color($primary-color);
    }

    .mdc-button__icon--color-primary {
        transition: width 300ms ease;
        @include mdc-button-ink-color(whitesmoke);
    }

}

.mdc-button__icon--hover:hover {
    @include mdc-button-ink-color(whitesmoke);
}


.mdc-button--light {
    height: 57.6px;
    @include mdc-button-container-fill-color($color-white);
    @include mdc-button-ink-color($dark-text);
}

//MaterialWeb Drawer styles

.drawer-toggle {
    transition: 200ms linear;
}

.drawer-toggle--opened {
    left: 265px !important;
    img {
        display: none;
    }
}

.mdc-drawer {
    @include mdc-drawer-surface-fill-color($secondary-color);
    @include mdc-drawer-item-text-ink-color($primary-color);
    @include mdc-drawer-item-activated-text-ink-color($color-whitesmoke);
    @include mdc-drawer-activated-overlay-color($color-white); 
    @include mdc-drawer-item-icon-ink-color($accent-color);
    @include mdc-drawer-item-activated-icon-ink-color($color-whitesmoke);
}

.mdc-drawer__title {
    
    img {
        width: 90px;
        height: auto;
        margin: auto;
    }
    
}

//MDC Top App Bar Styles

.mdc-top-app-bar {
    @include mdc-top-app-bar-fill-color(rgba(255,255,255,.2));
    @include mdc-top-app-bar-icon-ink-color($color-whitesmoke);
    @include mdc-top-app-bar-ink-color($color-whitesmoke);
}

