//Top section styles
.top-section {

    background-color: $dark-background;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 8rem;
    font-family: 'Montserrat-Bold', sans-serif;

    h2 span {
        color: $primary-color;
    }

}

//Header styles
.menu-container {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    transform: translateY(0);
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;

    .menu {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .2);
        border-radius: 4px;
        position: relative;
        min-height: 90px;
    }

    .logo-container {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);

        img {
            height: 90px;
            width: auto;
        }
    }

    .contact {
        height: 90px;
        padding: 0 20px 0 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            padding: 0 50px 0 0;
        }

        a::after {
            content: "/";
            opacity: 0.4;
            position: absolute;
            right: -25px;
        }

        li:nth-last-child(1) {
            a::after {
                content: '';
            }
        }

        a::before {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width 300ms ease;
            pointer-events: none;
            height: 4px;
            opacity: 1;
            background-color: $primary-color;
        }

        a:hover:before {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
            height: 4px;
            opacity: 1;
            background-color: $primary-color;
        }
    }

    a {
        line-height: 90px;
        color: whitesmoke;
        text-decoration: none;
        transition: color 300ms ease;
        position: relative;
        text-transform: uppercase;
        opacity: .8;
        display: block;
        height: 100%;
        cursor: pointer;
    }

    a:hover {
        color: $primary-color;
    }

}

section.benefits {
   position: relative;
    &:before {
        background: url("../images/cross_grid.png");
        background-repeat: no-repeat;
        background-position: top;
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
